/*
Name: cadabra
Date: June 2013
Version: 1.0
License: MIT <http://opensource.org/licenses/MIT>
Original author: Loïc Séguin-Charbonneau
*/

/* Imports */
@import url("trac.css");
@import url("typogrify.css");
@import url(//fonts.googleapis.com/css?family=Alegreya&subset=latin);
@import url(//fonts.googleapis.com/css?family=Alegreya+SC&subset=latin);

/***** Global *****/

/* Body */
body {
    background: #f8f8f8 url("../images/body-bg.jpg") left top repeat;
}

.container-narrow {
    max-width: 640px;
    margin: 0 auto;
    font: 18px/25px Palatino,serif;
}

/* Typography */
a {
    color: #cb4b16;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', Palatino, serif;
    font-weight: 400;
    margin: 16px 0;
}

.page-header {
    border: 0;
}

code {
    color: inherit;
}

p, pre, ul, ol {
    margin-bottom: 13px;
}

tt, code {
    padding: 2px 4px;
    white-space: nowrap;
    background-color: #fafafc;
    border: 1px solid #e8e8ef;
    font-family: Monaco, Menlo, Concolas, "Courier New", monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

h1 tt, h2 tt, h3 tt {
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 0.8em;
}

li {
    line-height: 25px;
}

/*Fix mathjax colors*/
.math .mi, .math .mo, .math .mn {
    color: inherit;
}


/***** Top navigation bar *****/

.navbar a.brand {
    font-family: "Alegreya", Palatino, serif;
    font-size: 1.3em;
}

.navbar .nav > li > a { 
    font-family: "Alegreya SC", Palatino, serif;
    color: #aaa;
}

/* Remove some Boostrap styling */
.navbar-inner {
    background-color: transparent;
    background-image: none;
    border: 0;
    border-bottom: 3px double #eee;
    box-shadow: 0 0 0;
    border-radius: 0;
    padding: 5px 0 2px 0;
    margin-bottom: 25px;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0 0 0;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/***** Figures *****/

.figure {
    text-align: center;
}

.figure img {
    margin-bottom: 0.8em;
}

.figure .caption {
    font-style: italic;
    font-size: 0.9em;
}

/***** Extras *****/

#extras ul {
    list-style: none;
    margin: 0;
}

/* Social */
footer#contentinfo {
    margin-top: 40px;
}

.social ul.inline > li {
    padding: 0;
}

footer div[class='social'] a {
    background-repeat: no-repeat;
    background-position: left -34px;
    opacity: 0.6;
    filter: alpha(opacity=60);  /* IE8 and earlier */
    width: 24px;
    height:24px;
    margin: 2px;
    vertical-align: middle;
    display: inline-block;
}

footer div[class='social'] a:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);  /* IE8 and earlier */
}

/* Icons */
.social a[href*='about.me'] {background-image: url('../images/icons/aboutme.png');}
.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png');}
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/icons/github.png');}
.social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}
.social a[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
.social a[href*='groups.google.com'] {background-image: url('../images/icons/google-groups.png');}
.social a[href*='news.ycombinator.com'],
.social a[href*='hackernewsers.com'] {background-image: url('../images/icons/hackernews.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
.social a[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
.social a[href*='slideshare.net'] {background-image: url('../images/icons/slideshare.png');}
.social a[href*='speakerdeck.com'] {background-image: url('../images/icons/speakerdeck.png');}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
.social a[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
.social a[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}
.social a[href*='flickr.com'] {background-image: url('../images/icons/flickr.png');}
.social a[href*='mailto'] {background-image: url('../images/icons/email.png');}


/* Blog Index */
#posts-list .hentry {
    padding: 5px 0 25px 10px; 
}

.post-info a {
    border-left: 1px solid #ccc;
    padding: 0 5px;
}

.hentry-separator {
    width: 40%;
    margin-left: auto;
    margin-right:auto;
}
